In [28]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv(r"C:\Users\Anthony Bannerman\Documents\Codveda-Internship-Data-Science\Task_1_Data_Cleaning_Churn\Churn Prdiction Data\churn-bigml-20.csv")

# Preview data
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   667 non-null    object
 1   Account length          667 non-null    int64
 2   Area code               667 non-null    int64
 3   International plan      667 non-null    object
 4   Voice mail plan         667 non-null    object
 5   Number vmail messages   667 non-null    int64
 6   Total day minutes       667 non-null    float64
 7   Total day calls         667 non-null    int64
 8   Total day charge        667 non-null    float64
 9   Total eve minutes       667 non-null    float64
 10  Total eve calls         667 non-null    int64
 11  Total eve charge        667 non-null    float64
 12  Total night minutes     667 non-null    float64
 13  Total night calls       667 non-null    int64
 14  Total night charge      667 non-null    float64
 15  Total intl minutes      667 non-null    float64
 16  Total intl calls        667 non-null    int64
 17  Total intl charge       667 non-null    float64
 18  Customer service calls  667 non-null    int64
 19  Churn                   667 non-null    bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 99.8+ KB

In [30]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

# Check categorical columns

In [31]:
# See the unique values in each categorical column to detect inconsistencies or typos:
print(df['State'].unique())
print(df['International plan'].unique())
print(df['Voice mail plan'].unique())

['LA' 'IN' 'NY' 'SC' 'HI' 'AK' 'MI' 'ID' 'VA' 'WI' 'MN' 'VT' 'MT' 'MA'
 'KY' 'CO' 'AZ' 'CA' 'WA' 'NE' 'OH' 'MO' 'AL' 'NH' 'NM' 'OR' 'TX' 'MS'
 'WY' 'FL' 'KS' 'NC' 'SD' 'OK' 'CT' 'RI' 'DE' 'UT' 'NV' 'DC' 'ME' 'IL'
 'NJ' 'MD' 'WV' 'PA' 'ND' 'AR' 'TN' 'IA' 'GA']
['No' 'Yes']
['No' 'Yes']

# Check numerical columns

In [32]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,102.841079,436.157421,8.407796,180.948126,100.937031,30.761769,203.355322,100.476762,17.285262,199.685307,100.113943,8.985907,10.238381,4.527736,2.764948,1.563718
std,40.819480,41.783305,13.994480,55.508628,20.396790,9.436463,49.719268,18.948262,4.226160,49.759931,20.172505,2.239429,2.807850,2.482442,0.758167,1.333357
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,76.000000,408.000000,0.000000,146.250000,87.500000,24.860000,171.050000,88.000000,14.540000,167.950000,86.000000,7.560000,8.600000,3.000000,2.320000,1.000000
50%,102.000000,415.000000,0.000000,178.300000,101.000000,30.310000,203.700000,101.000000,17.310000,201.600000,100.000000,9.070000,10.500000,4.000000,2.840000,1.000000
75%,128.000000,415.000000,20.000000,220.700000,115.000000,37.520000,236.450000,113.000000,20.095000,231.500000,113.500000,10.420000,12.050000,6.000000,3.255000,2.000000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000

# Next steps for these categorical columns:

In [33]:
# Convert Yes/No to 1/0 for modeling:
df['International plan'] = df['International plan'].map({'Yes':1, 'No':0})
df['Voice mail plan'] = df['Voice mail plan'].map({'Yes':1, 'No':0})
df['Churn'] = df['Churn'].astype(int)  # True/False → 1/0

In [34]:
# Use one-hot encoding or label encoding depending on the algorithm:
df = pd.get_dummies(df, columns=['State'], drop_first=True)

In [35]:
# the cleaned data
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,117,408,0,0,0,184.5,97,31.37,351.6,80,...,False,False,False,False,False,False,False,False,False,False
1,65,415,0,0,0,129.1,137,21.95,228.5,83,...,False,False,False,False,False,False,False,False,False,False
2,161,415,0,0,0,332.9,67,56.59,317.8,97,...,False,False,False,False,False,False,False,False,False,False
3,111,415,0,0,0,110.4,103,18.77,137.3,102,...,False,False,False,False,False,False,False,False,False,False
4,49,510,0,0,0,119.3,117,20.28,215.1,109,...,False,False,False,False,False,False,False,False,False,False

In [36]:
# Check all columns
print(df.columns)

# Check if Churn exists
print('Churn' in df.columns)

# Preview the first few rows of Churn
df['Churn'].head()

Index(['Account length', 'Area code', 'International plan', 'Voice mail plan',
       'Number vmail messages', 'Total day minutes', 'Total day calls',
       'Total day charge', 'Total eve minutes', 'Total eve calls',
       'Total eve charge', 'Total night minutes', 'Total night calls',
       'Total night charge', 'Total intl minutes', 'Total intl calls',
       'Total intl charge', 'Customer service calls', 'Churn', 'State_AL',
       'State_AR', 'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_DC',
       'State_DE', 'State_FL', 'State_GA', 'State_HI', 'State_IA', 'State_ID',
       'State_IL', 'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA',
       'State_MD', 'State_ME', 'State_MI', 'State_MN', 'State_MO', 'State_MS',
       'State_MT', 'State_NC', 'State_ND', 'State_NE', 'State_NH', 'State_NJ',
       'State_NM', 'State_NV', 'State_NY', 'State_OH', 'State_OK', 'State_OR',
       'State_PA', 'State_RI', 'State_SC', 'State_SD', 'State_TN', 'State_TX',
       'State_UT', 'State_VA', 'State_VT', 'State_WA', 'State_WI', 'State_WV',
       'State_WY'],
      dtype='object')
True

0    0
1    1
2    1
3    0
4    0
Name: Churn, dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Account length          667 non-null    int64
 1   Area code               667 non-null    int64
 2   International plan      667 non-null    int64
 3   Voice mail plan         667 non-null    int64
 4   Number vmail messages   667 non-null    int64
 5   Total day minutes       667 non-null    float64
 6   Total day calls         667 non-null    int64
 7   Total day charge        667 non-null    float64
 8   Total eve minutes       667 non-null    float64
 9   Total eve calls         667 non-null    int64
 10  Total eve charge        667 non-null    float64
 11  Total night minutes     667 non-null    float64
 12  Total night calls       667 non-null    int64
 13  Total night charge      667 non-null    float64
 14  Total intl minutes      667 non-null    float64
 15  Total intl calls        667 non-null    int64
 16  Total intl charge       667 non-null    float64
 17  Customer service calls  667 non-null    int64
 18  Churn                   667 non-null    int64
 19  State_AL                667 non-null    bool
 20  State_AR                667 non-null    bool
 21  State_AZ                667 non-null    bool
 22  State_CA                667 non-null    bool
 23  State_CO                667 non-null    bool
 24  State_CT                667 non-null    bool
 25  State_DC                667 non-null    bool
 26  State_DE                667 non-null    bool
 27  State_FL                667 non-null    bool
 28  State_GA                667 non-null    bool
 29  State_HI                667 non-null    bool
 30  State_IA                667 non-null    bool
 31  State_ID                667 non-null    bool
 32  State_IL                667 non-null    bool
 33  State_IN                667 non-null    bool
 34  State_KS                667 non-null    bool
 35  State_KY                667 non-null    bool
 36  State_LA                667 non-null    bool
 37  State_MA                667 non-null    bool
 38  State_MD                667 non-null    bool
 39  State_ME                667 non-null    bool
 40  State_MI                667 non-null    bool
 41  State_MN                667 non-null    bool
 42  State_MO                667 non-null    bool
 43  State_MS                667 non-null    bool
 44  State_MT                667 non-null    bool
 45  State_NC                667 non-null    bool
 46  State_ND                667 non-null    bool
 47  State_NE                667 non-null    bool
 48  State_NH                667 non-null    bool
 49  State_NJ                667 non-null    bool
 50  State_NM                667 non-null    bool
 51  State_NV                667 non-null    bool
 52  State_NY                667 non-null    bool
 53  State_OH                667 non-null    bool
 54  State_OK                667 non-null    bool
 55  State_OR                667 non-null    bool
 56  State_PA                667 non-null    bool
 57  State_RI                667 non-null    bool
 58  State_SC                667 non-null    bool
 59  State_SD                667 non-null    bool
 60  State_TN                667 non-null    bool
 61  State_TX                667 non-null    bool
 62  State_UT                667 non-null    bool
 63  State_VA                667 non-null    bool
 64  State_VT                667 non-null    bool
 65  State_WA                667 non-null    bool
 66  State_WI                667 non-null    bool
 67  State_WV                667 non-null    bool
 68  State_WY                667 non-null    bool
dtypes: bool(50), float64(8), int64(11)
memory usage: 131.7 KB

In [38]:
df.to_csv(
    r"C:\Users\Anthony Bannerman\Documents\Codveda-Internship-Data-Science\Task_1_Data_Cleaning_Churn\churn_cleaned.csv",
    index=False
)

In [39]:
import os

os.getcwd()

'C:\\Users\\Anthony Bannerman\\Documents\\Codveda-Internship-Data-Science\\Task_1_Data_Cleaning_Churn\\churn_cleaning.ipynb'